name: job step demo

on: 
  push:
    branches:
      - main
  pull request:

jobs:
  demo-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: list files
        run: echo "ls"